/* Google Fonts Import */
     @import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&family=Lexend+Deca:wght@100..900&display=swap');
     
     /* Asterisk wildcard selector to override styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic Project Styles */
    color: rgb(0, 57, 57);
    font-family: 'lexend-deca' , sans-serif;
}

h1, h2, h3, h4, {
    font-family: 'inclusive-sans' , sans-serif;
    font-weight: bold;
}

#logo {
        font-size: 150%;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position:fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display:flex;
    justify-content: space-between;
    align-items: baseline;

    header a {
        text-decoration: none;
        color: inherit;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}


/* Menu */
#menu {
    text-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid rgb(0, 57, 57);
}

/* Navbar sytles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding:0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size:1.5rem;
}

/* Main Content */
main {
    background-color: aquamarine;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 28px;
}

/* Homepage image section */
#homepage-image {
    height: 600px;
    width: 100%;
    background: url("../images/woman-brain.jpg") no-repeat center center/cover;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(1, 93, 252, 0.8);
    font-size: 130%;
    position: absolute;
    bottom: 50px;
    width: 60%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
}

/* Footer */
footer {
    background-color: #ffffff;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 150%;
        line-height: 50px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 54px;
    }

    /* Homepage image section */
    #cover-text {
        width: 300px;
        right: 50px;
    }
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 200%;
    padding: 5%;
    color: rgb(0, 57, 57);
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid rgb(0, 57, 57);
    }
}
/* Lexend Deca Classes */

/* <weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name */

.lexend-deca {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Inclusive Sans Classes */

/* <weight>: Use a value from 300 to 700
 <uniquifier>: Use a unique and descriptive class name */

.inclusive-sans {
  font-family: "Inclusive Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}