/* Google Fonts Import */
     @import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&family=Lexend+Deca:wght@100..900&display=swap');
     
     /* Asterisk wildcard selector to override styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 1200vh;
    display: flex;
    flex-direction: column;
    /* Generic Project Styles */
    color: rgb(0, 57, 57);
    font-family: 'lexend-deca' , sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position:fixed;
    z-index: 99;
    width: 100%;
}

h1 {
    font-family: 'inclusive-sans' , sans-serif;
}

/* Menu */
#menu {
    text-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid rgb(0, 57, 57);
}

/* Main Content */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: orange;
}

/* Lexend Deca Classes */

/* <weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name */

.lexend-deca {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Inclusive Sans Classes */

/* <weight>: Use a value from 300 to 700
 <uniquifier>: Use a unique and descriptive class name */

.inclusive-sans {
  font-family: "Inclusive Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}