/* Google Fonts Import */
     @import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&family=Lexend+Deca:wght@100..900&display=swap');
     
     /* Asterisk wildcard selector to override styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic Project Styles */
    color: rgb(0, 57, 57);
    font-family: 'lexend-deca' , sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position:fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display:flex;
    justify-content: space-between;
    align-items: baseline;

    header a {
        text-decoration: none;
        color: inherit;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}
h1 {
    font-family: 'inclusive-sans' , sans-serif;
    font-size: 150%;
    font-weight: bold;
}

/* Menu */
#menu {
    text-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid rgb(0, 57, 57);
}

/* Navbar sytles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding:0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size:1.5rem;
}

/* Main Content */
main {
    background-color: aquamarine;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 28px;
}

/* Footer */
footer {
    background-color: orange;
}

/* Lexend Deca Classes */

/* <weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name */

.lexend-deca {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Inclusive Sans Classes */

/* <weight>: Use a value from 300 to 700
 <uniquifier>: Use a unique and descriptive class name */

.inclusive-sans {
  font-family: "Inclusive Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}