/* Asterisk wildcard selector to override styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 1200vh;
    display: flex;
    flex-direction: column;
    /* Generic Project Styles */
    color: rgb(3, 22, 22);
}

/* Header */
header {
    background-color: lightcoral;
}

/* Main Content */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: orange;
}